[submodule "packages/audio_service"]
	path = packages/audio_service
	url = git@github.com:Vito0912/audio_service.git
[submodule "packages/foliate_reader/foliate-js"]
	path = packages/foliate_reader/foliate-js
	url = git@github.com:Vito0912/foliate-js.git
