[Desktop Entry]
Name=yaabsa
GenericName=Audiobookshelf Client
Exec=LD_LIBRARY_PATH=usr/lib yaabsa %u
Icon=yaabsa
Type=Application
StartupNotify=true
StartupWMClass=de.vito0912.yaabsa
Categories=Music
Keywords=ABS;Audiobookshelf
MimeType=x-scheme-handler/yaabsa;
